@font-face {
  font-family: "Soniano";
  src: url("assets/fonts/Soniano-Sans-Unicode-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto_Regular";
  src: url("assets/fonts/RobotoMono-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto_SemiBold";
  src: url("assets/fonts/RobotoMono-SemiBold.ttf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "RobotoMono-Light";
  src: url("assets/fonts/RobotoMono-Light.ttf") format("opentype");
  font-weight: 600;
}
