/* You can add global styles to this file, and also import other style files */
/* You can add global variables to this file*/
/*colors*/
/*transitions*/
/* screen width for media queries*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
hr,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-weight: normal !important;
}

/* all divs are relative by default*/
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  -webkit-text-decoration-skip: ink;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  padding: 0;
  font: inherit;
  border: none;
  background-color: transparent;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

ul, ol {
  -webkit-margin-before: 0 !important;
  margin-block-start: 0 !important;
  -webkit-margin-after: 0 !important;
  margin-block-end: 0 !important;
  -webkit-padding-start: 0 !important;
  padding-inline-start: 0 !important;
}

section {
  position: relative;
  height: auto;
  overflow: hidden;
}

@font-face {
  font-family: "Soniano";
  src: url("assets/fonts/Soniano-Sans-Unicode-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto_Regular";
  src: url("assets/fonts/RobotoMono-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto_SemiBold";
  src: url("assets/fonts/RobotoMono-SemiBold.ttf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "RobotoMono-Light";
  src: url("assets/fonts/RobotoMono-Light.ttf") format("opentype");
  font-weight: 600;
}
.intro {
  height: 100vh;
  background-image: url("assets/img/intro/bg-intro.jpg");
  background-color: #202C64;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff !important;
  text-align: center;
}
.intro .intro-wrap {
  padding-top: 15vh;
  padding-bottom: 10vh;
}
.intro .main-titile {
  padding-top: 55px;
  padding-bottom: 42px;
}
.intro .marquee {
  display: block;
  width: 100%;
  white-space: nowrap !important;
  margin-top: 96px !important;
  overflow: hidden;
}
.intro .marquee .marquee-content {
  display: flex;
  animation: scroll 20s infinite linear;
}
.intro .marquee .marquee-content .decor-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 78px;
  min-height: 78px;
  width: 78px;
  height: 78px;
  border: 1px solid #ffffff;
  border-radius: 40px;
  margin-right: 29px;
}
.intro .marquee .marquee-content .decor-img img {
  margin: auto;
  width: 43px;
  height: 43px;
  margin: auto 14px !important;
}
.intro .marquee .marquee-content .decor-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #ffffff;
  min-width: 353px;
  min-height: 78px;
  width: 353px;
  height: 78px;
  border-radius: 40px;
}
.intro .marquee .marquee-content .decor-text h5 {
  margin: auto;
}
.intro .marquee .marquee-content .decor-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 46px;
  margin-right: 48.5px;
  min-width: 109px;
}
.intro .marquee .marquee-content .decor-arrow img {
  width: 109px;
  height: 33px;
}
@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media (max-width: 1024px) {
  .intro .main-titile {
    padding-top: 45px;
    padding-bottom: 32px;
  }
  .intro .marquee {
    margin-top: 86px !important;
  }
  .intro .marquee .marquee-content .decor-img {
    min-width: 72px;
    min-height: 72px;
    width: 72px;
    height: 72px;
    margin-right: 23px;
  }
  .intro .marquee .marquee-content .decor-img img {
    width: 40px;
    height: 40px;
    margin: auto 12px !important;
  }
  .intro .marquee .marquee-content .decor-text {
    min-width: 323px;
    min-height: 68px;
    width: 323px;
    height: 68px;
  }
  .intro .marquee .marquee-content .decor-arrow {
    margin-left: 38px;
    margin-right: 42px;
    min-width: 100px;
  }
  .intro .marquee .marquee-content .decor-arrow img {
    width: 100px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  .intro .marquee .marquee-content .decor-img {
    min-width: 70px;
    min-height: 70px;
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
  .intro .marquee .marquee-content .decor-img img {
    width: 37px;
    height: 37px;
    margin: auto 10px !important;
  }
  .intro .marquee .marquee-content .decor-text {
    min-width: 300px;
    min-height: 63px;
    width: 300px;
    height: 63px;
  }
  .intro .marquee .marquee-content .decor-arrow {
    margin-left: 20px;
    margin-right: 25px;
    min-width: 95px;
  }
  .intro .marquee .marquee-content .decor-arrow img {
    width: 90px;
    height: 25px;
  }
}
@media (max-width: 650px) {
  .intro .main-titile {
    padding-top: 38px;
    padding-bottom: 28px;
  }
  .intro .marquee {
    margin-top: 75px !important;
  }
  .intro .marquee .marquee-content .decor-img {
    min-width: 65px;
    min-height: 65px;
    width: 65px;
    height: 65px;
    margin-right: 18px;
  }
  .intro .marquee .marquee-content .decor-img img {
    width: 33px;
    height: 33px;
  }
  .intro .marquee .marquee-content .decor-text {
    min-width: 210px;
    min-height: 60px;
    width: 210px;
    height: 60px;
  }
  .intro .marquee .marquee-content .decor-arrow {
    margin-left: 13px;
    margin-right: 18px;
    min-width: 75px;
  }
  .intro .marquee .marquee-content .decor-arrow img {
    width: 75px;
    height: 25px;
  }
}
@media (max-width: 468px) {
  .intro .intro-wrap {
    padding-top: 90px;
    padding-bottom: 66px;
  }
}
.benefits {
  background: #ffffff;
  color: #202C64;
  padding-top: 98px;
  padding-bottom: 125px;
}
.benefits .benefit-1 {
  width: 57.4%;
}
.benefits .benefit-2 {
  width: 38.8%;
}
.benefits .benefit-3,
.benefits .benefit-4 {
  width: 43.3%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 28px;
  border: 1px solid #202C64;
  border-radius: 12px;
  display: flex;
  margin-bottom: 28px !important;
  margin-left: 28px !important;
}
.item img {
  margin-bottom: auto;
  width: 57px;
  height: 57px;
}
.item h4 {
  padding-left: 10px;
}

.landing .item:nth-child(1),
.landing .item:nth-child(3) {
  margin-left: 0 !important;
}

@media (max-width: 1024px) {
  .benefits {
    padding-top: 88px;
    padding-bottom: 115px;
  }

  .landing .item {
    padding: 14px 20px;
    margin-bottom: 23px !important;
    margin-left: 23px !important;
  }
  .landing .item img {
    width: 55px;
    height: 55px;
  }
  .landing .item h4 {
    padding-left: 8px;
  }
}
@media (max-width: 768px) {
  .benefits .benefit-1 {
    width: 90%;
  }
  .benefits .benefit-2 {
    width: 65%;
  }
  .benefits .benefit-3 {
    width: 49%;
  }
  .benefits .benefit-4 {
    width: 46%;
  }

  .benefits .item:nth-child(2) {
    margin-left: 0 !important;
  }
}
@media (max-width: 650px) {
  .benefits {
    padding-top: 70px;
    padding-bottom: 95px;
  }
  .benefits .benefit-1 {
    width: 98%;
  }
  .benefits .benefit-2 {
    width: 77%;
  }
  .benefits .benefit-3 {
    width: 91%;
  }
  .benefits .benefit-4 {
    width: 57%;
  }

  .landing .item {
    padding: 12px 17px;
    margin-bottom: 18px !important;
    margin-left: 0 !important;
  }
  .landing .item img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 468px) {
  .benefits .benefit-box {
    width: 100%;
  }
}
.ownProduct {
  background: #202C64;
  color: #ffffff;
  padding: 76px 0;
}
.ownProduct .ownProduct-content {
  width: 980px;
  margin-left: 0 !important;
}
.ownProduct .ownProduct-content .mrgn {
  padding-top: 22px;
}
.ownProduct .ownProduct-content .button-box__light {
  margin-top: 60px !important;
}
.ownProduct .ownProduct-content .button-box__light button {
  margin-left: 0 !important;
}
.ownProduct .ownProduct-content .button-box__light span {
  color: #202C64;
}
.ownProduct .decor {
  position: absolute;
  right: -100px;
  top: -56px;
  width: 840px;
  height: 532px;
}

@media (max-width: 1024px) {
  .ownProduct {
    padding: 70px 0;
  }
  .ownProduct .ownProduct-content {
    width: 100%;
  }
  .ownProduct .ownProduct-content .mrgn {
    padding-top: 18px;
  }
  .ownProduct .ownProduct-content .button-box__light {
    margin-top: 55px !important;
  }
  .ownProduct .decor {
    right: -80px;
    top: -76px;
    width: 820px;
    height: auto;
  }
}
@media (max-width: 650px) {
  .ownProduct .ownProduct-content .mrgn {
    padding-top: 15px;
  }
  .ownProduct .ownProduct-content .button-box__light {
    margin-top: 50px !important;
  }
  .ownProduct .decor {
    right: -40px;
    top: -40px;
    width: 650px;
  }
}
.promo .promo-video {
  width: 100%;
  height: 700px;
}

@media (max-width: 1024px) {
  .promo .promo-video {
    height: 60vh;
  }
}
.whom {
  background: #ffffff;
  color: #202C64;
  padding-top: 106px;
  padding-bottom: 87px;
}
.whom .whom-1 {
  width: 31.4%;
}
.whom .whom-2 {
  width: 54%;
}
.whom .whom-3 {
  width: 46.7%;
}

@media (max-width: 1024px) {
  .whom {
    padding-top: 96px;
    padding-bottom: 77px;
  }
  .whom .whom-1 {
    width: 42%;
  }
  .whom .whom-2 {
    width: 54%;
  }
  .whom .whom-3 {
    width: 51%;
  }
}
@media (max-width: 768px) {
  .whom .whom-2 {
    margin-left: 23px !important;
  }
}
@media (max-width: 650px) {
  .whom {
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .whom .whom-1 {
    width: 75%;
  }
  .whom .whom-2 {
    width: 88%;
    margin-left: 0 !important;
  }
  .whom .whom-3 {
    width: 100%;
  }
}
@media (max-width: 468px) {
  .whom .whom-box {
    width: 100%;
  }
}
.content {
  background: #202C64;
  color: #ffffff;
  padding-top: 115px;
  padding-bottom: 78px;
}
.content .content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 28px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  margin-bottom: 28px !important;
}
.content .content-box h6 {
  margin: auto;
}
.content .content-box:nth-child(1) {
  width: 51%;
}
.content .content-box:nth-child(3) {
  width: 50%;
}
.content .content-box:nth-child(2) {
  width: 45%;
}
.content .content-box:nth-child(4) {
  width: 39%;
}
.content .content-box:nth-child(5) {
  width: 62%;
}
.content .content-box:nth-child(6) {
  width: 24%;
}
.content .content-box:nth-child(2),
.content .content-box:nth-child(4),
.content .content-box:nth-child(6) {
  margin-left: 2.5%;
}
.content .button-box__light {
  margin-top: 31px !important;
}

@media (max-width: 1024px) {
  .content {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .content .content-box {
    padding: 14px 20px;
    margin-bottom: 23px !important;
  }
  .content .content-box:nth-child(1) {
    width: 40%;
  }
  .content .content-box:nth-child(2) {
    width: 56%;
  }
  .content .content-box:nth-child(3) {
    width: 52%;
  }
  .content .content-box:nth-child(4) {
    width: 43%;
  }
  .content .content-box:nth-child(5) {
    width: 62%;
  }
  .content .content-box:nth-child(6) {
    width: 32%;
  }
  .content .content-box:nth-child(2),
.content .content-box:nth-child(4),
.content .content-box:nth-child(6) {
    margin-left: 2%;
  }
  .content .button-box__light {
    margin-top: 27px !important;
  }
}
@media (max-width: 768px) {
  .content .title-section {
    width: 85%;
  }
}
@media (max-width: 650px) {
  .content {
    padding-top: 80px;
  }
  .content .content-box {
    padding: 12px 17px;
    margin-bottom: 18px !important;
  }
  .content .button-box__light {
    margin-top: 25px !important;
  }
}
@media (max-width: 468px) {
  .content .content-box:nth-child(1) {
    width: 43%;
  }
  .content .content-box:nth-child(2) {
    width: 55%;
  }
  .content .content-box:nth-child(3) {
    width: 60%;
  }
  .content .content-box:nth-child(4) {
    width: 38%;
  }
  .content .content-box:nth-child(5) {
    width: 65%;
  }
  .content .content-box:nth-child(6) {
    width: 33%;
  }
}
.wrap {
  background: #ffffff;
  padding-top: 119px;
  padding-bottom: 147px;
}

.experts {
  /* Slider */
}
.experts .container-landing {
  position: relative;
}
.experts .title-section {
  color: #202C64;
}
.experts .navigation-arrow {
  position: absolute;
  top: 0px;
  right: 0;
  width: 110px;
  height: 22px;
}
.experts .navigation-arrow img {
  display: inline;
  width: 38px;
  height: 22px;
}
.experts .navigation-arrow .next {
  float: right;
}
.experts .carousel {
  position: relative;
  z-index: 3;
}
.experts .carousel .slide {
  margin-left: 30px !important;
}
.experts .carousel .slide img.photo {
  width: 255px;
  height: 255px;
  border-radius: 12px 12px 0px 0px;
}
.experts .carousel .slide .expert-name {
  width: 255px;
  height: 89px;
  margin-top: 11px !important;
  background: #202C64;
  color: #ffffff;
  border-radius: 0px 0px 12px 12px;
  padding: 16px;
}
.experts .carousel .slide:first-child {
  margin-left: 0 !important;
}
.experts section.VueCarousel {
  overflow: visible !important;
}
.experts .VueCarousel-navigation-button {
  padding: 0 !important;
}
.experts .VueCarousel-navigation--disabled[data-v-7fed18e9] {
  opacity: 1 !important;
}
.experts .VueCarousel-navigation-prev[data-v-7fed18e9] {
  left: -5%;
}
.experts .VueCarousel-navigation-next[data-v-7fed18e9] {
  right: 5% !important;
}
.experts .material-icons_left,
.experts .material-icons_right {
  width: 80px !important;
  height: 80px !important;
  position: absolute;
  color: transparent;
  cursor: pointer !important;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("assets/img/experts/arrow-prew.svg") !important;
}
.experts .material-icons_right {
  background-image: url("assets/img/experts/arrow-next.svg") !important;
}
.experts .material-icons_left:active,
.experts .material-icons_right:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

@media (max-width: 1024px) {
  .wrap {
    padding-top: 100px;
    padding-bottom: 127px;
  }

  .experts .navigation-arrow {
    width: 110px;
    height: 22px;
  }
  .experts .navigation-arrow img {
    width: 30px;
    height: auto;
  }
  .experts .carousel .slide {
    width: 46%;
    margin-left: 2% !important;
    margin-bottom: 25px !important;
  }
  .experts .carousel .slide img.photo {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .experts .carousel .slide .expert-name {
    width: 100%;
    height: 80px;
    margin-top: 10px !important;
    padding: 14px;
  }
  .experts .carousel .slide:first-child,
.experts .carousel .slide:nth-child(3) {
    margin-left: 0 !important;
  }
}
@media (max-width: 650px) {
  .wrap {
    padding-top: 90px;
    padding-bottom: 80px;
  }

  .experts .navigation-arrow {
    width: 80px;
    height: 20px;
    margin-right: 25px !important;
    margin-top: 10px !important;
  }
  .experts .carousel .slide {
    width: 48%;
    margin-bottom: 20px !important;
  }
  .experts .carousel .slide .expert-name {
    width: 100%;
  }
  .experts .carousel .slide:first-child,
.experts .carousel .slide:nth-child(3) {
    margin-left: 0 !important;
  }
}
@media (max-width: 468px) {
  .experts .title-section {
    width: 50%;
  }
  .experts .navigation-arrow {
    margin-top: 5px !important;
  }
  .experts .carousel .slide {
    width: 100%;
  }
  .experts .carousel .slide .expert-name {
    height: auto;
  }
}
.team {
  position: relative;
  padding-top: 229px;
  color: #231F20;
  background: #ffffff;
}
.team .line-decor {
  position: absolute;
  top: -10px;
  right: 0;
}
.team .team-box {
  width: 50%;
  padding-right: 32px;
}
.team .team-box .team-subtitle {
  padding-bottom: 60px;
}
.team .team-box ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
}
.team .team-box ul li {
  padding-bottom: 20px;
}
.team .team-box b {
  font-family: "Roboto_SemiBold";
  font-weight: 600 !important;
  font-style: normal;
}
.team .team-logos {
  margin-top: 100px !important;
  height: 50px;
}
.team .team-logos ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .team-logos ul li {
  display: block;
  margin-left: 42px;
}
.team .team-logos ul li img {
  margin: auto;
  mix-blend-mode: luminosity;
  transition: mix-blend-mode linear 0.4s;
}
.team .team-logos ul li .opacity-logo {
  opacity: 0.75;
}
.team .team-logos ul li .min-cufra {
  height: 35px;
  width: auto;
}
.team .team-logos ul li:hover img {
  mix-blend-mode: normal;
  opacity: 1;
}
.team .team-logos ul li:first-child {
  margin-left: 0;
}

@media (max-width: 1024px) {
  .team {
    padding-top: 170px;
  }
  .team .line-decor {
    top: -15px;
    right: -10px;
  }
  .team .team-box {
    width: 50%;
    padding-right: 22px;
  }
  .team .team-box .team-subtitle {
    padding-bottom: 50px;
  }
  .team .team-box ul li {
    padding-bottom: 18px;
  }
  .team .team-logos {
    margin-top: 80px !important;
  }
  .team .team-logos ul li {
    display: block;
    margin-left: 36px;
  }
}
@media (max-width: 991px) {
  .team .team-logos {
    height: auto;
  }
  .team .team-logos ul {
    flex-wrap: wrap;
  }
  .team .team-logos ul li {
    margin-left: 32px;
    padding-bottom: 20px !important;
  }
}
@media (max-width: 650px) {
  .team {
    padding-top: 100px;
  }
  .team .line-decor {
    top: -35px;
    right: 0;
  }
  .team .team-box {
    padding-right: 15px;
  }
  .team .team-box .team-subtitle {
    padding-bottom: 40px;
  }
  .team .team-box ul li {
    padding-bottom: 15px;
  }
  .team .team-logos {
    margin-top: 60px !important;
  }
  .team .team-logos ul li {
    margin-left: 28px;
    padding-bottom: 17px !important;
  }
}
.verification {
  background: #202C64;
  color: #ffffff;
  padding-top: 115px;
  padding-bottom: 130px;
}
.verification .verification-content .input {
  width: 74%;
}
.verification .verification-content .input input.form-control {
  text-align: center;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  width: 100%;
  height: 54px;
  padding: 0 !important;
  border: 1px solid #ffffff;
  border-radius: 12px;
  background: transparent;
  outline: none !important;
  box-shadow: none !important;
}
.verification .verification-content .button-verification {
  width: 23%;
  margin-left: 3%;
}
.verification .verification-content .button-verification .submit-code {
  display: block;
  margin: auto;
  width: 243px;
  height: 52px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 13px;
  text-align: center;
  font-size: 18px;
  line-height: 120%;
  text-decoration: none !important;
  color: #231F20 !important;
  background: #ffffff;
  text-decoration: none;
  transition: all linear 0.4s;
  width: 100% !important;
  background: #ffffff;
  color: #202C64 !important;
  padding: 0;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .verification .verification-content .button-verification .submit-code {
    font-size: 16px;
    width: 210px;
    height: 50px;
  }
}
@media (max-width: 650px) {
  .verification .verification-content .button-verification .submit-code {
    width: 200px;
    height: 45px;
  }
}
.verification .verification-content .button-verification .submit-code:hover {
  color: #ffffff !important;
}
.verification .verification-content ::placeholder,
.verification .verification-content ::-webkit-input-placeholder {
  font-family: "RobotoMono-Light";
  font-style: normal;
  padding: 0 28px;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  text-align: left;
  transition: all linear 0.4s;
}
.verification .verification-content :focus::placeholder,
.verification .verification-content :focus::-webkit-input-placeholder {
  font-size: 0;
}

@media (max-width: 1024px) {
  .verification {
    padding-top: 105px;
    padding-bottom: 110px;
  }
  .verification .verification-content .input {
    width: 75%;
  }
  .verification .verification-content .input input.form-control {
    font-size: 16px;
    height: 50px;
  }
  .verification .verification-content .button-verification {
    width: 23%;
    margin-left: 2%;
  }
  .verification .verification-content ::placeholder,
.verification .verification-content ::-webkit-input-placeholder {
    padding: 0 23px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .verification .verification-content .input {
    width: 100%;
  }
  .verification .verification-content .input input.form-control {
    height: 55px;
  }
  .verification .verification-content .button-verification {
    width: 100%;
    margin-left: 0;
    margin-top: 30px !important;
  }
  .verification .verification-content .button-verification .submit-code {
    display: block;
    margin: auto;
    width: 210px !important;
    height: 50px;
  }
}
@media (max-width: 650px) {
  .verification {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .verification .verification-content .input input.form-control {
    height: 50px;
    font-size: 14px;
  }
  .verification .verification-content ::placeholder,
.verification .verification-content ::-webkit-input-placeholder {
    padding: 0 10px;
    font-size: 13px;
  }
  .verification .verification-content .button-verification {
    margin-top: 25px !important;
  }
}
body {
  font-family: "RobotoMono-Light";
  font-style: normal;
}

.landing {
  background: #ffffff;
}

.inner {
  max-width: 100%;
  margin: 0 auto;
}

.container-landing {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container-landing {
    padding: 0 50px;
  }
}
@media (max-width: 1024px) {
  .container-landing {
    padding: 0 40px;
  }
}
@media (max-width: 991px) {
  .container-landing {
    padding: 0 35px;
  }
}
@media (max-width: 768px) {
  .container-landing {
    padding: 0 25px;
  }
}
@media (max-width: 650px) {
  .container-landing {
    padding: 0 20px;
  }
}

.inner-flex {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.landing h1 {
  font-family: "Soniano";
  font-weight: 400 !important;
  font-style: normal;
  font-size: 70px;
  line-height: 110%;
}
@media (max-width: 1024px) {
  .landing h1 {
    font-size: 62px;
  }
}
@media (max-width: 650px) {
  .landing h1 {
    font-size: 54px;
  }
}
@media (max-width: 468px) {
  .landing h1 {
    font-size: 48px;
  }
}

.landing h2 {
  font-family: "Soniano";
  font-weight: 400 !important;
  font-style: normal;
  font-size: 40px;
  line-height: 1;
}
@media (max-width: 1024px) {
  .landing h2 {
    font-size: 36px;
  }
}
@media (max-width: 650px) {
  .landing h2 {
    font-size: 32px;
  }
}

.landing h3 {
  font-family: "RobotoMono-Light";
  font-style: normal;
  font-size: 29px;
  line-height: 1.3;
}
@media (max-width: 1024px) {
  .landing h3 {
    font-size: 24px;
  }
}
@media (max-width: 650px) {
  .landing h3 {
    font-size: 22px;
  }
}

.landing h4 {
  font-size: 24px;
  line-height: 1.17;
}
@media (max-width: 1024px) {
  .landing h4 {
    font-size: 22px;
  }
}
@media (max-width: 650px) {
  .landing h4 {
    font-size: 20px;
  }
}

.landing h5 {
  font-size: 22px;
  line-height: 1.3;
}
@media (max-width: 1024px) {
  .landing h5 {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .landing h5 {
    font-size: 18px;
  }
}

.landing h6 {
  font-size: 16px;
  line-height: 1.2;
}
@media (max-width: 650px) {
  .landing h6 {
    font-size: 14px;
  }
}

.landing p {
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 650px) {
  .landing p {
    font-size: 16px;
  }
}

.proceed-to-course-button {
  display: block;
  margin: auto;
  width: 243px;
  height: 52px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 13px;
  text-align: center;
  font-size: 18px;
  line-height: 120%;
  text-decoration: none !important;
  color: #231F20 !important;
  background: #ffffff;
  text-decoration: none;
  transition: all linear 0.4s;
}
@media (max-width: 1024px) {
  .proceed-to-course-button {
    font-size: 16px;
    width: 210px;
    height: 50px;
  }
}
@media (max-width: 650px) {
  .proceed-to-course-button {
    width: 200px;
    height: 45px;
  }
}

.button-box__light .proceed-to-course-button:hover,
.submit-code:hover {
  border: 1px solid #ffffff !important;
  background: transparent !important;
  color: #ffffff !important;
}

.button-box__light .proceed-to-course-button:hover span {
  color: #ffffff;
}

.proceed-to-course-button:hover {
  transform: scale(1.02);
}

.proceed-to-course-button:active,
.submit-code:active {
  transform: scale(0.98);
}

.title-section {
  width: 560px;
  padding-bottom: 52px;
}
@media (max-width: 1024px) {
  .title-section {
    width: 60%;
    padding-bottom: 42px;
  }
}
@media (max-width: 991px) {
  .title-section {
    width: 70%;
  }
}
@media (max-width: 650px) {
  .title-section {
    width: 100%;
    padding-bottom: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
