.verification {
  background: $colorBlue;
  color: $colorWhite;
  padding-top: 115px;
  padding-bottom: 130px;

  .verification-content {
    .input {
      width: 74%;

      input.form-control {
        text-align: center;
        font-size: 18px;
        line-height: 100%;
        color: $colorWhite;
        width: 100%;
        height: 54px;
        padding: 0 !important;
        border: 1px solid $colorWhite;
        border-radius: 12px;
        background: transparent;
        outline: none !important;
        box-shadow: none !important;
      }
    }

    .button-verification {
      width: 23%;
      margin-left: 3%;

      .submit-code {
        @include button-landing;
        width: 100% !important;
        background: $colorWhite;
        color: $colorBlue !important;
        padding: 0;
        cursor: pointer;
      }

      .submit-code:hover {
        color: $colorWhite !important;
      }
    }

    ::placeholder,
    ::-webkit-input-placeholder {
      @include Roboto_Regular;
      padding: 0 28px;
      font-size: 18px;
      line-height: 100%;
      color: $colorWhite;
      text-align: left;
      transition: all $transitin-timles;
    }

    :focus::placeholder,
    :focus::-webkit-input-placeholder {
      font-size: 0;
    }
  }
}

@include _1024 {
  .verification {
    padding-top: 105px;
    padding-bottom: 110px;
  
    .verification-content {
      .input {
        width: 75%;
        input.form-control {
          font-size: 16px;
          height: 50px;
        }
      }
  
      .button-verification {
        width: 23%;
        margin-left: 2%;
      }
  
      ::placeholder,
      ::-webkit-input-placeholder {
        padding: 0 23px;
        font-size: 16px;
      }
    }
  }
}

@include _768 {
  .verification {
    .verification-content {
      .input {
        width: 100%;
        input.form-control {
          height: 55px;
        }
      }
  
      .button-verification {
        width: 100%;
        margin-left: 0;
        margin-top: 30px !important;
        .submit-code {
          display: block;
          margin: auto;
          width: 210px !important;
          height: 50px;
        }
      }
    }
  }
}
@include _650 {
  .verification {
    padding-top: 80px;
    padding-bottom: 80px;
    .verification-content {
      .input {
        input.form-control {
          height: 50px;
          font-size: 14px;
        }
      }
      ::placeholder,
      ::-webkit-input-placeholder {
        padding: 0 10px;
        font-size: 13px;
      }
      
      .button-verification {
        margin-top: 25px !important;
      }
      
    }
  }
}