.wrap {
  background: $colorWhite;
  padding-top: 119px;
  padding-bottom: 147px;
}

.experts {
  .container-landing {
    position: relative;
  }

  .title-section {
    color: $colorBlue;
  }

  .navigation-arrow {
    position: absolute;
    top: 0px;
    right: 0;
    width: 110px;
    height: 22px;

    img {
      display: inline;
      width: 38px;
      height: 22px;
    }

    .next {
      float: right;
    }
  }

  .carousel {
    position: relative;
    z-index: 3;

    .slide {
      margin-left: 30px !important;

      img.photo {
        width: 255px;
        height: 255px;
        border-radius: 12px 12px 0px 0px;
      }

      .expert-name {
        width: 255px;
        height: 89px;
        margin-top: 11px !important;
        background: $colorBlue;
        color: $colorWhite;
        border-radius: 0px 0px 12px 12px;
        padding: 16px;

      }
    }

    .slide:first-child {
      margin-left: 0 !important;
    }
  }

  /* Slider */
  section.VueCarousel {
    overflow: visible !important;
  }

  .VueCarousel-navigation-button {
    padding: 0 !important;
  }

  .VueCarousel-navigation--disabled[data-v-7fed18e9] {
    opacity: 1 !important;
  }

  .VueCarousel-navigation-prev[data-v-7fed18e9] {
    left: -5%;
  }

  .VueCarousel-navigation-next[data-v-7fed18e9] {
    right: 5% !important;
  }

  .material-icons_left,
  .material-icons_right {
    width: 80px !important;
    height: 80px !important;
    position: absolute;
    color: transparent;
    cursor: pointer !important;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('assets/img/experts/arrow-prew.svg') !important;
  }

  .material-icons_right {
    background-image: url('assets/img/experts/arrow-next.svg') !important;
  }

  .material-icons_left:active,
  .material-icons_right:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@include _1024 {
  .wrap {
    padding-top: 100px;
    padding-bottom: 127px;
  }

  .experts {

    .navigation-arrow {
      width: 110px;
      height: 22px;

      img {
        width: 30px;
        height: auto;
      }
    }

    .carousel {
      .slide {
        width: 46%;
        margin-left: 2% !important;
        margin-bottom: 25px !important;

        img.photo {
          object-fit: cover;
          width: 100%;
          height: auto;
        }

        .expert-name {
          width: 100%;
          height: 80px;
          margin-top: 10px !important;
          padding: 14px;

        }
      }

      .slide:first-child,
      .slide:nth-child(3) {
        margin-left: 0 !important;
      }
    }
  }
}

@include _650 {
  .wrap {
    padding-top: 90px;
    padding-bottom: 80px;
  }

  .experts {

    .navigation-arrow {
      width: 80px;
      height: 20px;
      margin-right: 25px !important;
      margin-top: 10px !important;
    }

    .carousel {
      .slide {
        width: 48%;
        margin-bottom: 20px !important;

        .expert-name {
          width: 100%;
        }
      }

      .slide:first-child,
      .slide:nth-child(3) {
        margin-left: 0 !important;
      }
    }
  }
}

@include _468 {
  .experts {
    .title-section {
      width: 50%;
    }

    .navigation-arrow {
      margin-top: 5px !important;
    }

    .carousel {
      .slide {
        width: 100%;

        .expert-name {
          height: auto;
        }
      }
    }
  }
}