.whom {
  background: $colorWhite;
  color: $colorBlue;
  padding-top: 106px;
  padding-bottom: 87px;

  .whom-1 {
    width: 31.4%;
  }
  .whom-2 {
    width: 54%;
  }
  .whom-3 {
    width: 46.7%;
  }
}