.content {
  background: $colorBlue;
  color: $colorWhite;
  padding-top: 115px;
  padding-bottom: 78px;
  .content-box {
    @include justify-center;
    padding: 16px 28px;
    border: 1px solid $colorWhite;
    border-radius: 12px;
    margin-bottom: 28px !important;
    h6 {
      margin: auto;
    }
  }
  .content-box:nth-child(1) {
    width: 51%;
  }
  .content-box:nth-child(3) {
    width: 50%;
  }
  .content-box:nth-child(2) {
    width: 45%;
  }
  .content-box:nth-child(4) {
    width: 39%;
  }
  .content-box:nth-child(5) {
    width: 62%;
  }
  .content-box:nth-child(6) {
    width: 24%;
  }
  .content-box:nth-child(2),
  .content-box:nth-child(4),
  .content-box:nth-child(6) {
    margin-left: 2.5%;
  }
  .button-box__light {
    margin-top: 31px !important;
  }
}