.ownProduct {
  background: $colorBlue;
  color: $colorWhite;
  padding: 76px 0;

  .ownProduct-content {
    width: 980px;
    margin-left: 0 !important;

    .mrgn {
      padding-top: 22px;
    }

    .button-box__light {
      margin-top: 60px !important;

      button {
        margin-left: 0 !important;
      }

      span {
        color: $colorBlue;
      }
    }
  }

  .decor {
    position: absolute;
    right: -100px;
    top: -56px;
    width: 840px;
    height: 532px;
  }
}

@include _1024 {
  .ownProduct {
    padding: 70px 0;

    .ownProduct-content {
      width: 100%;

      .mrgn {
        padding-top: 18px;
      }

      .button-box__light {
        margin-top: 55px !important;
      }
    }

    .decor {
      right: -80px;
      top: -76px;
      width: 820px;
      height: auto;
    }
  }
}

@include _650 {
  .ownProduct {
    .ownProduct-content {

      .mrgn {
        padding-top: 15px;
      }

      .button-box__light {
        margin-top: 50px !important;
      }
    }

    .decor {
      right: -40px;
      top: -40px;
      width: 650px;
    }
  }
}